@page
@model DotNetCoreDemo.Pages.WiproModel
@{
    ViewData["Name"] = "Rajesh";
    ViewData["Company"] = "Wipro";
}
<p>Employ Name : <b>@ViewData["Name"] </b></p>
<p>Company Name : <b>@ViewData["Company"] </b></p>

